{% extends 'blog_admin_app/base.html' %}
{% block title %} My Blog :: Authors {% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i> Author List <a href="{% url 'create-author' %}" class="btn btn-primary btn-sm float-right">Create New</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Author Name</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for author in authors %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ author.name }}</td>
                    <td class="text-center"><a href="#">Edit</a> | <a href="#">Delete</a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
