{% extends 'blog_admin_app/base.html' %}

{% block title %} My Blog :: Create Category {% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i> Add New Category <a href="{% url 'category-list' %}" class="btn btn-primary btn-sm float-right">All Categories</a>
    </div>
    <div class="card-body">
        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary float-right">Create</button>
      </form>
    </div>
</div>
{% endblock %}
