{% extends 'blog_app/base.html' %}

{% block title %} My Blog Students Page {% endblock %}

{% block page_header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>STUDENTS</h1>
          <span class="subheading">Click On Student's Name And See Details</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" style="text-align:center;">#</th>
              <th scope="col" style="text-align:center;">Student Name</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <th scope="row" style="text-align:center;">{{forloop.counter}}</th>
              <td><a href="{% url 'std-id' student.id %}">{{student.name}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
